html *
{

    font-family: 'Mulish', sans-serif !important;
    color: #E3FDFD;
}

.summary-section {
	background-color: #71C9CE;
}

body{
    background-color: #E3FDFD !important;
}

body > section.summary-section > div > div > h1
{
    color: #E3FDFD !important;
   
}

.skills-section ul li {
    padding-bottom: .5rem;
}
.topnav{
    background-color: #71C9CE;
    color: #f2f2f2;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}
hr{
    border-top: 4px dotted white !important;
}
ul{
    list-style-type: none;
}


.topnav p{
    margin:0;
}

ul.custom {
    list-style-type: none ;
    margin-bottom: 10px;
    padding-left: 0;
  }

.web-programmer{
    text-decoration: underline;
    font-weight: bold;
}

.emphasis{
    font-style: italic;
}

.grid-container{
    margin: 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
    
}

@media all and (min-width: 721px) and (max-width: 1080px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr .4fr;
    }
}

@media all and (max-width: 720px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr .3fr;
    }
}



.education-section:hover{
    border: 5px dotted #A6E3E9;
}
.experience-section:hover{
    border: 5px dotted #A6E3E9;
}
.skills-section:hover{
    border: 5px dotted #A6E3E9;
}



section.education-section, section.experience-section , section.skills-section{
    padding: 20px;
    background-color: #71C9CE ;
    border-radius: 2rem;
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.skill-list{
    grid-column: 1;
    grid-row: 1;
    padding-left: 2rem;
    display: flex;
    align-items: left;
    justify-content: left;
}

.percentage{
    grid-column: 2;
    grid-row: 1;
    padding-right: 2rem;
    display: flex;
    align-items: right;
    justify-content: right;
}


.footer-section{
    background-color: #71C9CE;

}

footer > ul > li > a
{
    text-decoration: none;
}

footer > ul > li > a:hover
{
    color: #A6E3E9 !important;
    text-decoration: none;
    
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.education{
    margin-bottom: 20px;
}

.work{
    margin-bottom: 20px;
}


.education-section h4{

    font-weight: bold;
    margin-bottom: 0;
}

.experience-section h4{
    
    font-weight: bold;
    margin-bottom: 0;
}

h2{
    font-weight: bold !important;
}

.skills-section h4{
    font-weight: bold;
}

.footer-section h5 {
    font-weight: bold;
}
